@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Raleway:wght@300;400&display=swap');
*{ /* reset */
    margin: 0px; padding: 0px; box-sizing: border-box;
}
body{
    font-family: Nunito, sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: #444;
    background-color: #e2efdf;
    width: 800px;
    margin: auto;
    padding: 80px 24px;
}

#caja{
    width: 200px;
    height: 200px;
    background-color: #ccc;
    position: relative;
    top:100px;
}
.separador{
    width: 3px;
    display: inline-block;
}